#search-container {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	justify-content: center;
}

#search-input {
	background-color: transparent;
	border: 1px solid #a7a9be;
	border-radius: 8px;
	width: 15rem;
	padding: 1rem;
	font-size: large;
	color: #0f0e17;
}

#search-input:focus {
	outline: none;
}

#search-button {
	background-color: #ff8906;
	color: #fffffe;
	border: 0;
	border-radius: 8px;
	font-weight: normal;
	padding: 1rem 1.25rem;
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	#search-input {
		color: #fffffe;
	}
}
