.movie-card {
	/* background-color: #ffc1c1; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	text-align: start;
	line-height: 1.5;
	height: 30rem;
	width: min-content;
}

.poster {
	height: 85%;
	border-radius: 8px;
}

.title {
	margin: 0;
	font-size: medium;
	font-weight: bold;
	text-wrap: pretty;
	color: #0f0e17;
}

.rating {
	margin: 0;
	font-size: small;
	color: #e53170;
}

@media (prefers-color-scheme: dark) {
	.title {
		color: #fffffe;
	}
}
